@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --primary-color: #EB6416;
    --secondary-color: rgb(175, 171, 169);
    --background-color: #ECD9D9;
    --text-color: black;
}

.dark-theme{
    --primary-color: #682d8848;
    --text-color: rgb(255, 255, 255);
    --secondary-color: #0d5052;
    --background-color: #4E3636;
}

body {
    height: 95vh;
    background: var(--background-color);
    font-family: 'Inter', sans-serif; /* Aplicar la fuente Inter a todo el documento */
    text-align: center;
    color: var(--text-color);
    font-size: 28px;
    display: flex;
    flex-direction: column;
}


nav {
    background: rgb(49, 47, 47);
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
}

nav ul {
    font-size: 20px;
    list-style: none;
    justify-content: center;
}

nav li {
    margin-right: auto;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

#icon{
    width: 30px;
    cursor: pointer;
    margin-left: 200px;
}

#logo {
    width: 50px;
    margin-right: 20px;
    border-radius: 45%;
}

header {
    background: var(--primary-color);
    font-size: 18px;
    display: flex;
    color: var(--text-color); 
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-left: 100px; /* Esto alinea el contenedor hacia la derecha */
    margin-right: 20px; /* Esto agrega un margen entre el texto y los iconos */
}

.social-icons a {
    margin-left: 10px; /* Ajusta el margen entre los íconos */
}

.social-icons img {
    width: 30px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto; /* Esto asegura que las imágenes se escalen proporcionalmente */
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
}

.top-cards, .bottom-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}

.card {
    background: var(--secondary-color);
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 17px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #333; 
    border-radius: 10px; 
}
.card h4 {
    text-align: center; 
}

.card iframe {
    width: 100%; 
    max-width: 100%; 
}

.card img {
    max-width: 100%; 
    height: auto; 
}

footer {
    font-size: 14px;
    background: var(--primary-color);
    padding: 1em 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div,
footer p {
    margin-bottom: 0.5em; 
}

#flag {
    max-width: 100px;
    height: auto;
}

.hamburger {
    display: none;
}

nav ul {
    display: none;
}

nav ul.open {
    display: flex;
    flex-direction: column;
}