@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --primary-color: #EB6416;
    --secondary-color: rgb(175, 171, 169);
    --background-color: #ECD9D9;
    --text-color: black;
    --primary-colorhover: #9e3f08;
}

.dark-theme{
    --primary-color: #682d8848;
    --text-color: rgb(255, 255, 255);
    --secondary-color: #0d5052;
    --background-color: #4E3636;
    --primary-colorhover: #ecad88;
}

body {
    height: 95vh;
    background: var(--background-color);
    font-family: 'Inter', sans-serif; /* Aplicar la fuente Inter a todo el documento */
    text-align: center;
    color: var(--text-color);
    font-size: 28px;
    display: flex;
    flex-direction: column;
}


nav {
    background: rgb(49, 47, 47);
    max-width: 100%;
    width: 100%;
    margin-bottom: 0px;
}

nav ul {
    font-size: 20px;
    list-style: none;
    justify-content: center;
}

nav li {
    margin-right: auto;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}



#icon{
    width: 40px;
    cursor: pointer;
}

#logo {
    width: 50px;
    margin-right: 20px;
    border-radius: 45%;
}

header {
    background: var(--primary-color);
    font-size: 18px;
    display: flex;
    color: var(--text-color); 
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-left: 100px; 
    margin-right: 20px; 
}

.social-icons a {
    margin-left: 10px; 
}

.social-icons img {
    width: 30px; 
    height: auto; 
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
}

.top-cards, .bottom-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}

#hero-box {
    position: relative;
}

#hero-box::after {
    content: "Large"; 
    position: absolute;
    bottom: 20px; 
    left: 20px; 
    color: rgb(223, 95, 9);
    font-size: 44px; 
    z-index: 1; 
}


#hero-image {
    width: 100%;
}

.card {
    background: var(--secondary-color);
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 17px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #333; 
    border-radius: 10px; 
}
.card h4 {
    text-align: center; 
}

.card iframe {
    width: 100%; 
    max-width: 100%; 
}

.card img {
    max-width: 100%; 
    height: auto; 
}

/*SIDEBAR DISCOVER.HTML*/

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-column-gap: 0px; 
}

.sidebar {
    margin: 75px;
    padding: 10px;
    margin-top: 40px;
}

.sidebar-item {
    background-color: var(--secondary-color);
    border: 4px solid rgb(121, 84, 84);
    border-radius: 20px;
    padding: 15px;
    font-size: 25px;
    margin-bottom: 48px;
}

.sidebar-item p {
    text-align: justify; 
    font-size: 15.9px; 
}

.sidebar-item ul {
    text-align: left; 
    font-size: 15.9px; 
}

.image-sidebar {
    font-size: 23px;
    padding: 20px;
    margin: 20px;
}

.image-gallery img {
    display: block;
    margin-bottom: 18px;
    max-width: 100%;
    height: auto;
}

.image-gallery figure:hover img {
    box-shadow: 0px 0px 10px var(--primary-colorhover); 
}

.image-gallery figcaption {
    font-size: 17.5px; 
    color: var(--text-color); 
    text-align: center; 
    font-weight: bold;
    text-decoration: underline;
}

.visit-info {
    margin-bottom: 20px;
}

/*SIDEBAR DISCOVER.HTML*/

/*SIDEBAR JOIN.HTML*/
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-column-gap: -2 0px; 
}

.sidebarjoin {
    margin: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.sidebarjoin2 {
    margin: 75px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}


.sidebar-itemjoin {
    background-color: var(--secondary-color);
    border: 4px solid rgb(121, 84, 84);
    border-radius: 10px;
    padding: 15px;
    font-size: 25px;
    margin-bottom: 30px;
}

.sidebar-itemjoin2 {
    background-color: var(--secondary-color);
    border: 4px solid rgb(121, 84, 84);
    border-radius: 10px;
    padding: 15px;
    font-size: 25px;
    margin-bottom: 30px;
}

.sidebar-itemjoin p{
    text-align: justify; 
    font-size: 19.9px; 
}

.sidebar-itemjoin ul{
    text-align: left; 
    font-size: 15.9px; 
}

.sidebar-itemjoin2 form {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-itemjoin2 form h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar-itemjoin2 form div {
    margin-bottom: 15px;
    font-size: 22px;
    text-align: left;
}

.sidebar-itemjoin2 form label {
    display: block;
    font-weight: bold;
}

.sidebar-itemjoin2 form input[type="text"],
.sidebar-itemjoin2 form input[type="email"],
.sidebar-itemjoin2 form input[type="tel"],
.sidebar-itemjoin2 form select,
.sidebar-itemjoin2 form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    
    box-sizing: border-box;
}

.sidebar-itemjoin2 form textarea {
    height: 100px;
}

.sidebar-itemjoin2 form button[type="submit"] {
    background-color: #0d3d70;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.sidebar-itemjoin2 form button[type="submit"]:hover {
    background-color: #0056b3;
}


.imgform img {
    display: block;
    margin-top: 50px; 
    margin-bottom: 30px; 
    max-width: 100%;
    transition: box-shadow 0.3s ease; 
}

.imgform img:hover {
    box-shadow: 0 0 70px rgba(196, 117, 117, 0.5);
}

/*SIDEBAR JOIN.HTML*/

/*THANKYOU*/

.thankyou {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thankyou h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.thankyou p {
    font-size: 18px;
    line-height: 1.5;
    color: var(--text-color);
}

.thankyou a {
    color: var(--text-color);
    text-decoration: none;
}

.thankyou a:hover {
    text-decoration: underline;
}

/*THANKYOU*/

/* directory */

/*****************Directory***************/

.menu {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: rgb(59, 59, 59);
    text-align: center;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
}

#cards section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #eee;
}

#cards {
    display: grid;
    grid-gap: 15px;
    align-items: center;
    padding-bottom: 15px;
}

#cards section {
    text-align: center;
}

#cards img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
}

#cards section>* {
    margin: 0.1rem;
}

#cards h3 {
    font-family: "Quicksand", cursive;
}

#cards img {
    height: 75px;
    max-width: 100%;
}

.list-directory {
    display: none; /* Ocultar por defecto la vista de lista */
}

.list-directory section {
    display: grid;
    gap: 10px;
    padding: 0.25rem;
    width: 100%;
}

.list-directory section>* {
    margin: 0 1rem;
}

.list-directory section img {
    display: none;
}

.list-directory section h3 {
    font-size: 1rem;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.list-directory section:nth-child(even) {
    background-color: rgb(197, 197, 197);
}

.grid-directory {
    display: grid; /* Mostrar la vista de grid cuando se active */
}


/* directory */

footer {
    font-size: 14px;
    background: var(--primary-color);
    padding: 1em 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0;
}

footer div,
footer p {
    margin-bottom: 0.5em; 
}

#flag {
    max-width: 100px;
    height: auto;
}

.hamburger {
    display: none;
}

nav ul {
    display: none;
}

nav ul.open {
    display: flex;
    flex-direction: column;
}