@media screen and (max-width: 768px) {
    .card {
        width: 80%; 
    }

    .top-cards, .bottom-cards {
        flex-wrap: wrap; 
    }

    nav ul {
        display: none; 
    }

}   

@media screen and (max-width: 768px) {
    header {
		font-size: 12px;
    }

    nav ul {
        font-size: 20px;
    }

	#hero-box {
        max-width: 100%; 
        margin: 0 auto; 
    }
    
    /*
    #hero-box::after {
        content: "Medium";
    }*/

	.card{
        max-width: 70%;
		font-size: 15px;
	}

    #logo {
        width: 40px; 
    }

    h1 {
        font-size: 20px;
    }

    .social-icons {
        margin-right: 8px; 
    }

    #icon,
    #hamburger {
        margin-left: 8px; 
    }

	.hamburger {
        display: block;
    }

    /* SIDEBAR DISCOVER */

    .container {
        grid-template-columns: 1fr;
    }

    .sidebar,
    .image-sidebar {
        padding: 15px;
        margin: 25px;
        margin-bottom: -25px;
    }

    .image-gallery img {
        margin-bottom: 55px; 
    }

    .container {
        grid-template-columns: 1fr; 
    }
    
    .sidebarjoin2 {
        margin: 0 auto;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 10px;
        width: 80%; 
    }

    .imgform img {
        display: block;
        margin: 50px auto; 
    }

    .thankyou {
        max-width: 540px;
    }

    .grid-directory{
        padding-left: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 90%;
    }
    
    .list-directory section{
        display: grid;
        grid-column: 1/2;
        grid-template-columns: repeat(7, 1fr);
        max-width: 91%;
        font-size: 15px;
        
    }

    .weathercp {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}

@media screen and (max-width: 740px) {

    header {
		font-size: 12px;
    }
    nav ul {
        font-size: 20px;
    }
    
    .grid-directory{
        padding-left: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 90%;
    }
    
    .list-directory section{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        max-width: 90%;
        font-size: 13px;
        
    }

    .close-btn {
        padding-right: 20px;
    }
    
}