@media screen and (max-width: 540px) {
    header {
 
		font-size: 8px;
    }

	#hero-box {
        max-width: 100%; 
        margin: 0 auto; 
    }

    /*
    #hero-box::after {
        content: "Small"; 
    }*/

	.card{
		font-size: 15px;
	}

    #logo {
        width: 40px;
    }

    h1 {
        font-size: 18px;
    }

    #icon,
    #hamburger,
    .social-icons {
        margin-right: 10px;
        margin-left: 5px;
    }

    /*SIDEBAR DISCOVER*/
    .container{
        grid-template-columns: 1fr; 
    }

    .sidebar,
    .image-sidebar {
        padding: 10px;
        margin: 20px;
        margin-bottom: -20px;
        padding-left: 40px;
    }

    .sidebar-item{
        width: 85%;
    }
    
    .imagediscover{
        width: 60%;
    }

    .image-gallery img {
        margin-bottom: 30px; 
    }

    .container {
        grid-template-columns: 1fr; 

    }
    
    .sidebarjoin2 {
        margin: 0 auto;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 10px;
        width: 90%;
    }

    .imgform img {
        display: block;
        margin: 50px auto;
    }

    .thankyou {
        max-width: 400px;
        padding: 10px;
    }

    .thankyou h1 {
        font-size: 24px;
    }

    .thankyou p {
        font-size: 16px;
    }
    
    .grid-directory{
        padding-right: 40px;
        display: grid;
        grid-template-columns: 1fr; 
        max-width: 85%;
    }
    
    .list-directory section{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 85%;
    }

    .weathercp {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    
    .close-btn {
        font-size: 18px;
        padding-right: 20px;
    }
    
}
