@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');

:root {
    --primary-color: #C9C5BA;
    --secondary-color: #97B1A6;
    --accent1-color: #698996;
    --accent2-color: #407076;
  
    --heading-font: '______', serif;
    --paragraph-font: '______', serif;
  
    --nav-background-color: #03045e;
    --nav-link-color: #023e8a;
    --nav-hover-link-color: #0077b6;
    --nav-hover-background-color: #0096c7;
}

  
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


p {
    padding: 25px;
}


nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
  
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
  
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
  
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}