@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=RocknRoll+One&display=swap');

:root {
    --primary-color: #C9C5BA;
    --secondary-color: #97B1A6;
    --accent1-color: #698996;
    --accent2-color: #407076;
  
    --heading-font: "RocknRoll One";
    --paragraph-font: "Roboto, RocknRoll One";
  
    --headline-color-on-white: #5B5B5B;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #5B5B5B; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 

    --nav-background-color: #350ce9;
    --nav-link-color: #7dfff4;
    --nav-hover-link-color: #0077b6;
    --nav-hover-background-color: #0096c7;
}

  
body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

h2 {
    text-align: center;
}

p {
    padding: 25px;
}


nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
  
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
  
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
  
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}