

body{
    height: 95vh;
    background: rgb(250, 250, 250);
    font-family: sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 28px;
    display: flex;
    flex-direction: column;
}

nav {
    background: rgb(49, 47, 47);
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    justify-content: center;
}

nav li {
    margin-right: auto;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

header {
    background: rgb(50, 116, 216);
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 100%;
}
header img {
    max-width: 100px; /* img width */
    height: auto; /* img height */
    margin-bottom: 10px; /* margin img right */
    margin-right: 20px;
}
/* h1 */
#courseName {
    color: #0e0d0d; 
    font-size: 44px; 
    text-decoration: underline;
    text-decoration-thickness: auto;
    margin: 10px;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 10px;
    box-sizing: border-box;
}

/* same format both cards */
.card1, .card2{
    background: rgb(175, 171, 169);
    padding: 20px;
    flex: 1 1 80px;
    margin: 12px;
    box-sizing: border-box;
    font-size: 24px;
}

.card1 ul{
    list-style: none; /* nolist*/
    padding: 0;
    text-align: left;
}


footer {
    background: rgb(50, 116, 216);
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer .some-element {
    flex-grow: 1;
}

#flag {
    max-width: 100px;
    height: auto;
    padding-left: 10px;
}

.maps{
    grid-column: 1/4;
  }

iframe {
  max-width: 95%;
  margin: 2.5%;
  width: 100%;
}

/* hamburger */
.hamburger {
    display: none; /* Inicialmente oculto en todos los dispositivos */
    background: none;
    border: none;
    font-size: 44px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: absolute; /* Cambiar a posición absoluta */
    top: 10px; /* Ajustar la posición vertical */
    right: 10px; /* Colocar a la derecha */
}

/* Estilo para el menú de navegación que se muestra/desvanece */
nav ul {
    display: none; /* Ocultar por defecto */
}

nav ul.open {
    display: flex; /* Mostrar cuando se hace clic en el botón de hamburguesa */
    flex-direction: column;
}