:root {
    --primary-color: #2e00fc;
    --secondary-color: rgb(50, 116, 216);
}

main {
    display: inline;
    width: 100%;
}

.wf1 {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    max-width: 500px;
}

.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend {
    color: var(--primary-color);
    padding: 0 .5rem;
}

.wf1 Label {
    display: block;
    padding-top: 1rem;
    color: rgb(50, 116, 216);;
    font-size: .9rem;
}

.wf1 div {
    padding-top: 1rem;
    color: var(--primary-color);
    font-size: .9rem;
}

.wf1 input[type="text"],
.wf1 input[type="password"],
.wf1 input[type="email"]
{   
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #000000;
    width: 100%;
    max-width: 400px;
}

.wf1 input[type="submit"] {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
}

.wf1 input:required {
    border-right: solid 8px rgb(14, 145, 185);
}

.wf1 input:required:valid {
    border-right: solid 8px green;
}

#formmessage {
    margin-top: 10px;
}

#rangevalue {
    display: block;
    padding-top: 10px;
    color: var(--primary-color);
}

#rangevalues {
	display: flex;
	margin: 0 0 0 6px;
	width: 300px;
}

#rangevalues option {
	flex: 1 1 auto;
}

#submit:hover {
    cursor: pointer;
}

#confirmation {
    padding: 20px;
    margin-bottom: 400px;
}