*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0 auto;
    width: 650px;
}
h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: rgb(93, 4, 18);
    text-align: center;
}
form {
    width: 700px;
    margin: auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e0e7e9;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap : .6rem;
    margin: 2rem;
    border: none;
    padding: 2rem;
    margin-top: 2rem;
    padding-top: 2rem;

}
.margin{
    width: 220px;
    height: 30px;
    margin: auto;
    background-color: black;
    color: #fff;
    text-align: center;
}

input[type="checkbox"] {
    width: 500px;
    height: 42px;
    vertical-align: bottom;
}
input[type="text"] {
    width: 500px;
    height: 42px;
    vertical-align: bottom;
}
textarea{
    width: 500px;
    height: 95px;
    vertical-align: bottom;
}
button {
    margin: 1rem;
    background-color:  rgb(20, 4, 93);
    color: #fff;
    border: none;
    border-radius: 5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
select{
    width: 500px;
    height: 30px;
    vertical-align: bottom;
}
footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #000000;
    border-top: 1px solid #c45959;
}
    